/EmailAddress.java
/StandardizeEmailAddress.java
/StandardizeEmailAddressData.java
/StandardizeEmailAddressMeta.java
/StandardizeEmailAddressStep.java
/StandardizePhoneNumber.java
/StandardizePhoneNumberData.java
/StandardizePhoneNumberMeta.java
/StandardizePhoneNumberStep.java
/StandardizeUrl.java
/StandardizeUrlData.java
/StandardizeUrlMeta.java
/StandardizeUrlStep.java
/Url.java
